{%extends "layout.html"%}

{%block title%}Products{%endblock title%}

{%block content%}
    <table>
        <thead>
            <tr>
                <th>Product name</th>
                <th>Price</th>
                <th>Product image</th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for row in product%}
                <tr>
                    <td>{{row['productname']}}</td>
                    <td>Rs. {{row['price']}}</td>
                    <td><img src="/{{row['productimage']}}" style="width:200px; height:200px;"></td>
                    <td><a href={{url_for('productedit', id=row['id'])}}><button>edit</button></a>
                        <a href={{url_for('deleteproduct', id=row['id'])}}><button>delete</button></a>
                </tr> 
            {% endfor%}
        </tbody>
    </table>
{% endblock %}