{% extends 'layout.html' %}

{%block title%}Edit Product{%endblock title%}
{%block content%}
    </div>
    <form action="{{url_for('productupdate')}}" method="post">
        <input type="hidden" name="id" value="{{product['id']}}">
        <div><input type="text" placeholder="Product Name" name="productname" required value="{{product['productname']}}"></div>
        <div><input type="number" min="0" step="0.01" placeholder="Price" name="price" required value="{{product['price']}}"></div>
        <div><input type="file" id="img" name="productimage" accept="image/*"></div>
        <div>
           <a href="{{url_for('display')}}"><button type="button">Cancel</button></a>
            <button>Save</button>
        </div>
    </form>
{%endblock%}