{%extends'layout.html'%}

{%block title%} Delete User{%endblock title%}
{%block content%}
  <form action="{{url_for('destroy')}}" method="post">
    <input type="hidden" name="id" value="{{account['id']}}" />
    <input type="hidden" name="username" value="{{account['username']}}" />
    <p>Are you sure you want to delete?</p>
    <a href="{{url_for('admin')}}"><button type="button">Cancel</button></a>
    <button>Delete</button>
    <p>Username: {{account['username']}}</p>
    <p>Email: {{account['email']}}</p>
  </form>
{%endblock%}
