<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>{%block title%}{%endblock title%}</title>
</head>
<body>
    <div class="header">
        <h1>App</h1>
        <div class="logout">
          <form action="/logout" method="get">
            <div class="msg">{{ msg }}</div>
            <input type="submit" class="btn" value="Logout" />
          </form>
        </div>
      </div>
    <div class="admin"> 
      <div class="sidebar">
        <a href={{url_for('user')}}>User</a>
        </div>
        <br><a href={{url_for('product')}}>Product</a></br>
        <div class="userContent">
          <h2>{{ self.title() }}</h2>
          {% block content%}{%endblock%}  
        </div>  
      </div>          
      </div>
    </div>
</body>
</html>